pandas>=2.2.3,<3.0
ipykernel>=6.29.5,<7.0
lightfm==1.17
notebook>=6.5.7,<8.0
numpy<2.0
scikit-learn>=1.6.1,<2.0
matplotlib>=3.7.5,<4.0
tensorflow>=2.13.1,<3.0
xgboost>=2.1.4,<3.0
recommenders
pyarrow 
fastparquet
optuna
uvicorn[standard]>=0.34.0
fastapi
pydantic
faiss-cpu>=1.7.3
python-multipart>=0.0.5
langchain
transformers
langchain-community 
sentence-transformers
tf-keras
chromadb
peft
datasets
tiktoken 
sentencepiece
bitsandbytes
#conda install -c conda-forge faiss-cpu